@import './base.css';

#app {
  max-width: 1200px;
  margin: 0 auto;
  font-weight: normal;
  background: var(--color-background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a,
.green {
  text-decoration: none;
  color: var(--color-accent);
  transition: 0.3s;
  padding: 3px 4px;
  border-radius: 4px;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--color-accent-light);
    color: var(--color-accent-dark);
    text-decoration: underline;
  }
}

@media (min-width: 1024px) {
  body {
    background: var(--color-background-mute);
    padding: 1rem;
  }

  #app {
    background: var(--color-background);
    border-radius: 12px;
    box-shadow: 0 8px 40px 0 rgba(80, 120, 180, 0.10), 0 2px 8px 0 rgba(0,0,0,0.04);
  }
}
